<p>
  <strong>Url:</strong>
  <%= @recommendation.url %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @recommendation.keywords.to_sentence %>
</p>

<p>
  <strong>Video urls:</strong>
  <%= @recommendation.video_urls.to_sentence %>
</p>

<!-- <p>
  <strong>Video ids:</strong>
  <%= @recommendation.video_ids.to_sentence %>
</p> -->

<%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<%= link_to 'Back', recommendations_path %>
