<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
  	<li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <% end %>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <!-- <li><%= link_to 'Sign up', new_user_registration_path %></li> -->
<% end %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Users', users_path %></li>
    <li><%= link_to 'Domains', domains_path %></li>
  <% else %>
    <li class='js-domain-dd'><%= select_tag "domains", options_from_collection_for_select(@domains, "id", "name", "1") , id: 'gloabl_dropdown'%></li>
    <li><%= link_to 'Recommendations', recommendations_path %></li>
  <% end %>
<% end %>
