<% @trackings.each do |tracking| %>
  <tr>
    <td><%= tracking.page_url %></td>
    <td><%= tracking.video_url %></td>
    <td><%= link_to 'Show', tracking %></td>
    <td><%= link_to 'Edit', edit_tracking_path(tracking) %></td>
    <td><%= link_to 'Destroy', tracking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>	